* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background: radial-gradient(
    circle at 24.1% 68.8%,
    rgb(50, 50, 50) 0%,
    rgb(0, 0, 0) 99.4%
  );
  font-family: "Mooli", sans-serif;
  font-family: "Orbitron", sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}
input {
  padding: 70px 30px;
  border: none;
  outline: none;
  background-color: rgb(19, 19, 19);
  border-radius: 15px 15px 0px 0px;
  color: white;
  font-size: 25px;
}
.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  border-radius: 10px;
}
.calculator {
  position: absolute;
}
.oprator {
  color: #ffa60090;
  font-size: 30px;
}
button {
  background-color: #131313;
  font-weight: 500;
  font-size: 25px;
  padding: 25px 0px;
  outline: none;
  border: none;
  color: white;
}
.result {
  border-radius: 0px 0px 15px 0px;
}
.bredius {
  border-radius: 0px 0px 0px 15px;
}
.del,
.AC {
  font-size: 20px;
}
.lightOprator {
  color: #00000090;
  font-size: 40px;
}
.redColor {
  color: red;
}
.darkMode i {
  color: #ffa60090;
}

/* ############################## media query */

@media (max-width: 400px) {
  input {
    padding: 30px 0px;
    font-size: 25px;
  }
  button {
    font-weight: 400;
    font-size: 20px;
    padding: 0px -20px;
  }
}
